.form-wrapper {
  padding: 20px 30px 20px 30px;
  display: block;
}

.oddBlock {
  background-color: white;
}

.form-top_title {
  font-size: 13px;
  line-height: 25px;
  color: #444444;
}

.form-title {
  padding: 30px 0 20px 0;
  display: flex;
}

.form-title__header {
  width: 30%;
  color: #63d1bb;
  font-size: 17px;
  font-family: AvenirBlack;
}

.form-line__wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.form-line {
  background-color: #63d1bb;
  width: 100%;
  height: 2px;
}

.label {
  font-family: AvenirBlack;
  font-size: 17px;
}

.parameters_input {
  line-height: 40px;
  display: block;

}

.form-color {
  padding: 30px;
  display: block;
}

.form-personal {
  padding: 30px;
  display: block;
}

.form-input__wrapper {
  width: 90%;
}

.form_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px 10px 0;
  margin-bottom: 20px;

}

.form-contacts {
  padding: 30px;
  display: block;
}

.form_input::placeholder {
  color: #d2d2d2;
  font-size: 17px;
}

.person__label {
  padding-top: 10px;
  width: 25%;
}

.person_input {
  background: none;
  width: 95%;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px 10px 0;
  margin-bottom: 20px;
}

.person_input::placeholder {
  color: #d2d2d2;
  font-size: 17px;
}


.details-textarea {
  width: 97%;
}

.details-textarea::placeholder {
  padding: 10px;
  color: #d2d2d2;
  font-size: 17px;
}

.options__wrapper {
  display: flex;
  flex-direction: column;
}

.note {
  order: 1;
  font-size: 14px;
  color: #444444;
}

.order-btn__wrapper {
  order: 2;
  width: 98%;
}

.order_btn {
  margin-top: 30px;
  height: 50px;
  width: 100%;

  border: 2px solid #444444;
  background-color: white;

  font-size: 17px;
  font-family: AvenirBlack;

}

.order_btn:hover {
  background-color: #444444;
  color: white;
}

@media (min-width: @tablet-width) {
  .oddBlock {
    background-color: #f1f1f1;
  }

  .form-wrapper {
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .form-line__wrapper {
    display: none;
  }

  .form-title {
    padding: 0;
    width: 25%;
  }
  
  .form-parameters {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .parameters_input {
    line-height: 0px;
    display: flex;
  }

  .person__label {
    padding-top: 10px;
  }
  
  .form_input { 
    padding: 5px 10px 10px 10px;
    margin-left: 15px;
    width: 88%;
  }


  .colors {
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
  }

  .checkbox-container {
    height: 50px;
  }

  .form-top_title {
    width: 100%;
    padding: 50px 0;
    font-size: 17px;
  }

  .options__wrapper {
    display: flex;
    flex-direction: row;
  }

  .details-textarea {
    margin-bottom: 20px;
  }
  
  .note {
    order: 2;
    font-size: 14px;
    color: #444444;
    width: 50%;
    text-align: right;
    padding: 40px 15px 0 0;
  }
  
  .order-btn__wrapper {
    order: 1;
    width: 50%;
  }
  
  .order_btn {
    margin-top: 30px;
    height: 50px;
    width: 100%;
  
    border: 2px solid #444444;
    background-color: white;
  
    font-size: 17px;
    font-family: AvenirBlack;
  
  }

}


@media (min-width: @desktop-width) {
  .colors {
    height: 120px;
  }
  .checkbox-container {
    height: 40px;
    min-width: 260px; 
  }

  .label {
    font-size: 19px;
  }

  .form_input { 
    padding: 2px 10px 10px 10px;
    margin-left: 15px;
  }

  .person__label {
    width: 15%;
  }

  .form-input__wrapper {
    width: 85%;
  }

}