.header-wrapper {
  background-image: url("../img/hero-desktop.jpg");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover; 
}

.header-wrapper {
  border-top: 1px solid #d5d5d5;
  height: 285px;
  display: flex;
}

.header-slogan {
  margin: auto;
  font-size: 27px;
  font-style: bold;
  line-height: 40px;
  padding: 30px;
  text-align: center;
  font-family: AvenirBlack;
}

.header-categories {
  display: block;
  padding: 0;
  margin: 0;
}
.categories {
  display: flex;
  height: 100px;
  background-color: #63d1bb;
  border: 1px dashed #56c3b2;
}

.category-text__wrapper {
  color: white;
  font-size: 19px;
  font-family: AvenirBlack;
  padding: 20px 50px;
  width: 70%;
}

.category-text {
  width: 100px;
}

.category-icon__wrapper {
  width: 30%;
}

.interior {
  content: url("../img/icon_interior.png");
  height: 50px;
  opacity: 0.1;
  padding: 25px;
}

.toys {
  content: url("../img/icon_toys.png");
  height: 50px;
  opacity: 0.1;
  padding: 25px;
}