body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 27px;
  color: #303030;
  background-color: white;
  font-family: Avenir;

  @font-face {
    font-family: 'Avenir';
    src: url("../font/AvenirLTStd-Book.otf");
  }

  @font-face {
    font-family: 'AvenirBlack';
    src: url("../font/AvenirLTStd-Black.otf");
  }
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  
}

.btn {
  border: 1px solid #444444;
  background-color: white;
  color: #444444;
}

.btn:hover {
  background-color: #444444;
  color: white;
}

button {
  outline:none;
}